/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* test */
    background-color: aqua;
}
/* common */
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
.col{
    float: left;
}
.col-right{
    float: right;
}
.clearfix::after{
    content: "";
    display:table;
    clear: both;
}
img{
    width: 100%;
}
.container{
    width: 70%;
}
.btn{
    background-color: #0061ff;
    color: white;
    display: inline-block;
    padding: 8px 18px;
    line-height: normal;
}
.btn:hover{
    background-color: lightblue;
}
.border-element:hover{
    border-bottom: 2px solid black;
}
.title{

}
.text{
    font-size: 20px;
    color:#2a2a2a ;
    line-height: 30px;
}
/* header */
.menu-top{
    position: fixed;
    height: auto;
    width: 100%;
    background-color: white;
}
.menu-positioning{
    line-height: 40px;
    font-size: 15px;
}
.menu-positioning li{
    padding: 30px;
}
.logo{
    vertical-align: middle; 
}
/* main */
/* jumbotron */
.background-element{
    background-color: #b4d0e7;
}
.bigger-container{
    width: 80%;
    padding-top:100px ;
    margin: auto;

}
.col-text{
    width: 30%;
    margin-bottom: 150px;
}
.col-img{
    width: 70%;
    position: relative;
}
.jumbotron{
    position: absolute;
}
.title h1{
    font-size: 80px;
    color: black;
    margin-top: 150px;
    margin-bottom: 70px;
}
.arrow-element i{
    
    font-size: 90px;
}
